# onliner update
CONFIG_PACKAGE_squashfs-tools-mksquashfs=y
CONFIG_PACKAGE_squashfs-tools-unsquashfs=y
CONFIG_SQUASHFS_TOOLS_XZ_SUPPORT=y
CONFIG_SQUASHFS_TOOLS_ZSTD_SUPPORT=y
CONFIG_PACKAGE_liblzma=y
CONFIG_PACKAGE_libzstd=y
CONFIG_PACKAGE_zlib=y
CONFIG_PACKAGE_libpthread=y
CONFIG_PACKAGE_kmod-lib-zlib-deflate=y
CONFIG_PACKAGE_kmod-lib-zlib-inflate=y

# theme
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-atmaterial=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-design=y

#PKG
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-onliner=y
#CONFIG_PACKAGE_luci-app-control-speedlimit=y
CONFIG_PACKAGE_luci-app-control-timewol=y
CONFIG_PACKAGE_luci-app-control-weburl=y
CONFIG_PACKAGE_luci-app-control-webrestriction=y
CONFIG_PACKAGE_luci-app-timecontrol=y
CONFIG_PACKAGE_luci-app-autotimeset=y
CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_PACKAGE_luci-app-wizard=y

#i18
CONFIG_PACKAGE_luci-i18n-eqos-zh_cn=y
CONFIG_PACKAGE_luci-i18n-cpufreq-zh_cn=y
CONFIG_PACKAGE_luci-i18n-onliner-zh_cn=y
CONFIG_PACKAGE_luci-i18n-uhttpd-zh_cn=y

#utils
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-base64=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_coreutils-dd=y
CONFIG_PACKAGE_losetup=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_watchcat=y

#libs
CONFIG_PACKAGE_libmbedtls=y
CONFIG_PACKAGE_git=y
CONFIG_PACKAGE_git-http=y
CONFIG_PACKAGE_usbmuxd=y
